<div class="container mt-5" ng-cloak>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="ion-search"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search by Movie Name"
          ng-model="movieName"
        />
      </div>
    </div>
  </div>

  <div class="card-columns mt-5">
    <div
      class="card"
      ng-repeat="movie in movies | filter: { Title: movieName } | orderBy: 'Title'"
    >
      <img ng-src="{{ movie.Images[0] }}" class="card-img-top" />
      <div class="card-body">
        <h3 class="card-title">{{ movie.Title }}</h3>
        <p class="card-text">{{ movie.Plot }}</p>
        <p class="small">{{ movie.Released }}</p>
      </div>
    </div>
  </div>
</div>
