<div class="container mt-5" ng-cloak>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <select
        class="form-control mt-2"
        ng-model="moviesPerRow"
        ng-change="updateColumns()"
      >
        <option value="2">2 Movies per Row</option>
        <option value="3">3 Movies per Row</option>
        <option value="4">4 Movies per Row</option>
        <!-- Add more options as needed -->
      </select>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="ion-search"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search by Movie Name"
          ng-model="movieName"
        />
      </div>
    </div>
  </div>

  <div class="card-columns mt-5">
    <div
      class="card"
      ng-repeat="movie in displayedMovies | filter: { Title: movieName } | orderBy: 'Title'"
      ng-class="getCardClass()"
    >
      <img
        ng-src="{{ movie.Images[0] }}"
        style="width: 353px; height: 250px"
        class="card-img-top"
      />
      <div class="card-body">
        <h4 class="card-title">{{ movie.Title }}</h4>
        <p class="card-text">
          {{ movie.Plot | limitTo: movie.plotLength }}{{ movie.Plot.length >
          movie.plotLength ? '...' : ''}}
        </p>
        <p ng-show="movie.Plot.length > plotLimit">
          <a href="#" ng-click="togglePlot(movie)">
            {{ movie.togglePlot ? 'See Less' : 'See More' }}
          </a>
        </p>
        <p class="small">{{ movie.Released }}</p>
        <button class="btn btn-dark" ng-click="addToWatchlist(movie)">
          Add to Watchlist
        </button>
      </div>
    </div>
    <!-- Displayed when no movies match the filter -->
    <div ng-if="(movies | filter: { Title: movieName }).length === 0">
      <h3>No such movie exists.</h3>
    </div>
    <!-- Load More Button -->
    <div class="mt-3" ng-if="displayedMovies.length < movies.length">
      <button class="btn btn-dark" ng-click="loadMore()">Load More</button>
    </div>
  </div>
</div>
